absl-py==2.3.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.9.3
aiosignal==1.4.0
aiosqlite==0.19.0
aistudio-sdk==0.3.8
alembic==1.13.1
altair==5.5.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
APScheduler==3.10.4
asgiref==3.11.1
async-timeout==5.0.1
asyncpg==0.29.0
attrs==25.3.0
backoff==2.2.1
bce-python-sdk==0.9.70
bcrypt==4.0.1
beautifulsoup4==4.14.2
billiard==4.2.4
black==24.1.1
bleach==6.1.0
blinker==1.9.0
blis==1.3.3
branca==0.8.2
cachetools==6.2.1
catalogue==2.0.10
celery==5.3.6
certifi==2025.11.12
cffi==2.0.0
chardet==7.4.3
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.23.0
cloudpickle==3.1.2
cmdstanpy==1.3.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
confection==0.1.5
contourpy==1.3.3
coverage==7.13.4
crc32c==2.8
cryptography==47.0.0
curl_cffi==0.14.0
cycler==0.12.1
cymem==2.0.13
dataclasses-json==0.6.7
dateparser==1.2.0
decorator==4.4.2
Deprecated==1.3.1
distro==1.9.0
dnspython==2.8.0
easyocr==1.7.2
ecdsa==0.19.1
email-validator==2.1.0
et_xmlfile==2.0.0
fastapi==0.135.3
fastapi-cli==0.0.15
fastapi-utils==0.8.0
filelock==3.19.1
flake8==7.0.0
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==25.2.10
folium==0.20.0
fonttools==4.59.2
frozendict==2.4.7
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.4.0
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.3.2
googleapis-common-protos==1.72.0
greenlet==3.0.3
grpcio==1.76.0
grpcio-status==1.62.3
h11==0.16.0
hf-xet==1.1.10
holidays==0.87
httpcore==1.0.9
httplib2==0.31.0
httptools==0.6.4
httpx==0.26.0
httpx-sse==0.4.1
huggingface-hub==0.35.3
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==2.0.0
imbalanced-learn==0.12.4
importlib-metadata==6.11.0
importlib_resources==6.5.2
iniconfig==2.3.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.7.1
jaxlib==0.7.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
kombu==5.6.2
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-openai==0.3.32
langchain-text-splitters==0.3.11
langdetect==1.0.9
langsmith==0.4.27
lazy_loader==0.4
Levenshtein==0.21.1
lightgbm==4.6.0
llvmlite==0.45.1
Mako==1.3.10
mando==0.7.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.6
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.3
modelscope==1.35.4
moviepy==1.0.3
mpmath==1.3.0
multidict==6.6.4
multitasking==0.0.12
murmurhash==1.0.15
mypy==1.8.0
mypy_extensions==1.1.0
narwhals==2.10.2
networkx==3.2.1
ninja==1.13.0
nltk==3.9.2
numba==0.62.1
numpy==2.2.6
ollama==0.6.1
omegaconf==2.3.0
onnx==1.20.0
onnxruntime==1.23.2
openai==1.35.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
opt_einsum==3.4.0
orjson==3.11.3
packaging==25.0
paddleocr==3.4.1
paddlex==3.4.3
pandas==2.3.3
passlib==1.7.4
pathspec==1.0.4
pdf2image==1.17.0
pdfminer.six==20231228
peewee==3.18.3
Pillow==10.1.0
platformdirs==4.5.1
plotly==6.4.0
pluggy==1.6.0
preshed==3.0.12
prettytable==3.17.0
proglog==0.1.12
prompt_toolkit==3.0.52
propcache==0.3.2
prophet==1.2.1
proto-plus==1.26.1
protobuf==4.25.8
psutil==5.9.8
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
pybreaker==0.7.0
pyclipper==1.4.0
pycodestyle==2.11.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.13.0
pydantic-settings==2.1.0
pydantic_core==2.46.0
pydeck==0.9.1
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.19.2
PyJWT==2.11.0
PyMuPDF==1.23.14
PyMuPDFb==1.23.9
pyobjc==12.1
pyobjc-core==12.1
pyobjc-framework-Accessibility==12.1
pyobjc-framework-Accounts==12.1
pyobjc-framework-AddressBook==12.1
pyobjc-framework-AdServices==12.1
pyobjc-framework-AdSupport==12.1
pyobjc-framework-AppleScriptKit==12.1
pyobjc-framework-AppleScriptObjC==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-AppTrackingTransparency==12.1
pyobjc-framework-ARKit==12.1
pyobjc-framework-AudioVideoBridging==12.1
pyobjc-framework-AuthenticationServices==12.1
pyobjc-framework-AutomaticAssessmentConfiguration==12.1
pyobjc-framework-Automator==12.1
pyobjc-framework-AVFoundation==12.1
pyobjc-framework-AVKit==12.1
pyobjc-framework-AVRouting==12.1
pyobjc-framework-BackgroundAssets==12.1
pyobjc-framework-BrowserEngineKit==12.1
pyobjc-framework-BusinessChat==12.1
pyobjc-framework-CalendarStore==12.1
pyobjc-framework-CallKit==12.1
pyobjc-framework-Carbon==12.1
pyobjc-framework-CFNetwork==12.1
pyobjc-framework-Cinematic==12.1
pyobjc-framework-ClassKit==12.1
pyobjc-framework-CloudKit==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-Collaboration==12.1
pyobjc-framework-ColorSync==12.1
pyobjc-framework-CompositorServices==12.1
pyobjc-framework-Contacts==12.1
pyobjc-framework-ContactsUI==12.1
pyobjc-framework-CoreAudio==12.1
pyobjc-framework-CoreAudioKit==12.1
pyobjc-framework-CoreBluetooth==12.1
pyobjc-framework-CoreData==12.1
pyobjc-framework-CoreHaptics==12.1
pyobjc-framework-CoreLocation==12.1
pyobjc-framework-CoreMedia==12.1
pyobjc-framework-CoreMediaIO==12.1
pyobjc-framework-CoreMIDI==12.1
pyobjc-framework-CoreML==12.1
pyobjc-framework-CoreMotion==12.1
pyobjc-framework-CoreServices==12.1
pyobjc-framework-CoreSpotlight==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-CoreWLAN==12.1
pyobjc-framework-CryptoTokenKit==12.1
pyobjc-framework-DataDetection==12.1
pyobjc-framework-DeviceCheck==12.1
pyobjc-framework-DeviceDiscoveryExtension==12.1
pyobjc-framework-DictionaryServices==12.1
pyobjc-framework-DiscRecording==12.1
pyobjc-framework-DiscRecordingUI==12.1
pyobjc-framework-DiskArbitration==12.1
pyobjc-framework-DVDPlayback==12.1
pyobjc-framework-EventKit==12.1
pyobjc-framework-ExceptionHandling==12.1
pyobjc-framework-ExecutionPolicy==12.1
pyobjc-framework-ExtensionKit==12.1
pyobjc-framework-ExternalAccessory==12.1
pyobjc-framework-FileProvider==12.1
pyobjc-framework-FileProviderUI==12.1
pyobjc-framework-FinderSync==12.1
pyobjc-framework-FSEvents==12.1
pyobjc-framework-FSKit==12.1
pyobjc-framework-GameCenter==12.1
pyobjc-framework-GameController==12.1
pyobjc-framework-GameKit==12.1
pyobjc-framework-GameplayKit==12.1
pyobjc-framework-GameSave==12.1
pyobjc-framework-HealthKit==12.1
pyobjc-framework-ImageCaptureCore==12.1
pyobjc-framework-InputMethodKit==12.1
pyobjc-framework-InstallerPlugins==12.1
pyobjc-framework-InstantMessage==12.1
pyobjc-framework-Intents==12.1
pyobjc-framework-IntentsUI==12.1
pyobjc-framework-IOBluetooth==12.1
pyobjc-framework-IOBluetoothUI==12.1
pyobjc-framework-IOSurface==12.1
pyobjc-framework-iTunesLibrary==12.1
pyobjc-framework-KernelManagement==12.1
pyobjc-framework-LatentSemanticMapping==12.1
pyobjc-framework-LaunchServices==12.1
pyobjc-framework-libdispatch==12.1
pyobjc-framework-libxpc==12.1
pyobjc-framework-LinkPresentation==12.1
pyobjc-framework-LocalAuthentication==12.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==12.1
pyobjc-framework-MailKit==12.1
pyobjc-framework-MapKit==12.1
pyobjc-framework-MediaAccessibility==12.1
pyobjc-framework-MediaExtension==12.1
pyobjc-framework-MediaLibrary==12.1
pyobjc-framework-MediaPlayer==12.1
pyobjc-framework-MediaToolbox==12.1
pyobjc-framework-Metal==12.1
pyobjc-framework-MetalFX==12.1
pyobjc-framework-MetalKit==12.1
pyobjc-framework-MetalPerformanceShaders==12.1
pyobjc-framework-MetalPerformanceShadersGraph==12.1
pyobjc-framework-MetricKit==12.1
pyobjc-framework-MLCompute==12.1
pyobjc-framework-ModelIO==12.1
pyobjc-framework-MultipeerConnectivity==12.1
pyobjc-framework-NaturalLanguage==12.1
pyobjc-framework-NetFS==12.1
pyobjc-framework-Network==12.1
pyobjc-framework-NetworkExtension==12.1
pyobjc-framework-NotificationCenter==12.1
pyobjc-framework-OpenDirectory==12.1
pyobjc-framework-OSAKit==12.1
pyobjc-framework-OSLog==12.1
pyobjc-framework-PassKit==12.1
pyobjc-framework-PencilKit==12.1
pyobjc-framework-PHASE==12.1
pyobjc-framework-Photos==12.1
pyobjc-framework-PhotosUI==12.1
pyobjc-framework-PreferencePanes==12.1
pyobjc-framework-PushKit==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-QuickLookThumbnailing==12.1
pyobjc-framework-ReplayKit==12.1
pyobjc-framework-SafariServices==12.1
pyobjc-framework-SafetyKit==12.1
pyobjc-framework-SceneKit==12.1
pyobjc-framework-ScreenCaptureKit==12.1
pyobjc-framework-ScreenSaver==12.1
pyobjc-framework-ScreenTime==12.1
pyobjc-framework-ScriptingBridge==12.1
pyobjc-framework-SearchKit==12.1
pyobjc-framework-Security==12.1
pyobjc-framework-SecurityFoundation==12.1
pyobjc-framework-SecurityInterface==12.1
pyobjc-framework-SecurityUI==12.1
pyobjc-framework-SensitiveContentAnalysis==12.1
pyobjc-framework-ServiceManagement==12.1
pyobjc-framework-SharedWithYou==12.1
pyobjc-framework-SharedWithYouCore==12.1
pyobjc-framework-ShazamKit==12.1
pyobjc-framework-Social==12.1
pyobjc-framework-SoundAnalysis==12.1
pyobjc-framework-Speech==12.1
pyobjc-framework-SpriteKit==12.1
pyobjc-framework-StoreKit==12.1
pyobjc-framework-Symbols==12.1
pyobjc-framework-SyncServices==12.1
pyobjc-framework-SystemConfiguration==12.1
pyobjc-framework-SystemExtensions==12.1
pyobjc-framework-ThreadNetwork==12.1
pyobjc-framework-UniformTypeIdentifiers==12.1
pyobjc-framework-UserNotifications==12.1
pyobjc-framework-UserNotificationsUI==12.1
pyobjc-framework-VideoSubscriberAccount==12.1
pyobjc-framework-VideoToolbox==12.1
pyobjc-framework-Virtualization==12.1
pyobjc-framework-Vision==12.1
pyobjc-framework-WebKit==12.1
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==5.7.0
pytesseract==0.3.10
pytest==7.4.4
pytest-asyncio==0.23.3
pytest-cov==4.1.0
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-http-client==3.3.7
python-jose==3.3.0
python-Levenshtein==0.21.1
python-louvain==0.16
python-multipart==0.0.6
python-whois==0.9.6
pyttsx3==2.99
pytz==2025.2
PyWavefront==1.3.3
PyYAML==6.0.2
radon==6.0.1
RapidFuzz==3.10.1
redis==5.0.1
referencing==0.37.0
regex==2025.11.3
reportlab==4.0.7
requests==2.32.3
requests-file==3.0.1
requests-toolbelt==1.0.0
rich==14.2.0
rich-toolkit==0.15.1
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.19.1
safetensors==0.6.2
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.15.3
sendgrid==6.12.5
sentencepiece==0.2.1
shap==0.44.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
slicer==0.0.7
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.8
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.15.1
spotipy==2.26.0
SQLAlchemy==2.0.25
srsly==2.5.2
stanio==0.5.1
starlette==1.0.0
streamlit==1.51.0
streamlit-folium==0.25.3
structlog==24.1.0
sympy==1.14.0
tenacity==9.1.2
thefuzz==0.22.1
thinc==8.3.10
threadpoolctl==3.6.0
tifffile==2026.1.14
tiktoken==0.11.0
tldextract==5.3.1
tokenizers==0.22.1
toml==0.10.2
torch==2.9.1
torch-geometric==2.7.0
torchaudio==2.9.1
torchvision==0.24.1
tornado==6.5.2
tqdm==4.67.1
transformers==4.56.2
typer==0.20.0
typer-slim==0.20.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
uritemplate==4.2.0
urllib3==2.1.0
uvicorn==0.44.0
uvloop==0.21.0
vine==5.1.0
wasabi==1.1.3
watchfiles==1.1.0
wcwidth==0.6.0
weasel==0.4.3
webencodings==0.5.1
websockets==15.0.1
Werkzeug==2.3.7
whois==1.20240129.2
wrapt==1.17.3
xgboost==2.0.3
xxhash==3.6.0
xyzservices==2025.10.0
yarl==1.20.1
yfinance==0.2.66
zipp==3.23.0
zstandard==0.24.0
